@{
    ViewData["Title"] = "Sobre Mim";
}

<style>
    .social {
        max-width: 50px;
        max-height: 50px;
    }
</style>
<br><br>

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <img class="img-responsive" alt="Este soy yo" title="Este soy yo" style="border-radius: 5%; max-width: 220px;" src="@Url.Content("~/imagenes/eu.jpg")"/>
        </div>
        <div class="col-md-6">
            <h1>Tulio Henrique</h1>
            <p>Empreendedor | Analista de Sistemas | Designer | Desenvolvedor.</p>
            </br>
            <h5>Mi social medias:</h5>
            </br>
            <div class="row">
                <div class="col-md-3">
                    <a href="https://linktr.ee/tuliohds" target="_blank">
                        <img class="social" alt="Accede a mis enlaces" title="Accede a mis enlaces" src="@Url.Content("~/imagenes/logolinktree.png")"/>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="https://www.linkedin.com/in/tuliohds/" target="_blank">
                        <img class="social" alt="Accede a mi Linkedin" title="Accede a mi Linkedin" src="@Url.Content("~/imagenes/linkedin.png")"/>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="https://www.behance.net/tuliohds" target="_blank">
                        <img class="social" alt="Accede a mi Behance" title="Accede a mi Behance" src="@Url.Content("~/imagenes/Behance.png")"/>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="https://github.com/TulioHenrique" target="_blank">
                        <img class="social" alt="Accede a mi códigos" title="Accede a mi códigos" src="@Url.Content("~/imagenes/github.png")"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>